@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-customPurple: #593af3;
  --color-bggreen: #deefda;
}
.text-supprimary {
  color: var(--color-customPurple);
}
.text-supergreen {
  color: var(--color-supergreen);
}
.bg-supergreen {
  background-color: var(--color-supergreen);
}
.bg-bggreen {
  background-color: var(--color-bggreen);
}
.bg-supprimary {
  background-color: var(--color-customPurple);
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-float {
  animation: float ease-in-out infinite;
}

.animate-gradient-move {
  animation: gradientMove 3s ease-in-out infinite;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
