@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-customPurple: #593af3;
  --color-supergreen: #3fb35f;
  --color-bggreen: #deefda;
}
.text-supprimary {
  color: var(--color-customPurple);
}
.text-supergreen {
  color: var(--color-supergreen);
}
.bg-supergreen {
  background-color: var(--color-supergreen);
}
.bg-bggreen {
  background-color: var(--color-bggreen);
}
.bg-supprimary {
  background-color: var(--color-customPurple);
}
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 2px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #718096;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #edf2f7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
